

.heading {
	-webkit-backface-visibility: hidden;
}

body {
	overflow-x: hidden;
}

input {
	border-radius: 0;
}

.blocks {

	&_padding_top {
		padding-top: 110px;
	}
}

.open {
	background: none;
	padding: 0;
	border: none;
	outline: none;
	padding: 15px 0 0 0;
	//display: none;
	font: 14px/27px 'Cera PRO', Arial, Helvetica, sans-serif;
	position: relative;
	transition: opacity .5s ease;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #000;
		position: absolute;
		bottom: 4px;
		left: 0;
	}

	&__text {
		display: none;

		&_open {
			display: block;
		}
	}

	&_active {

		.open__text {
			display: block;

			&_open {
				display: none;
			}
		}
	}

	&[data-animation] {
		transition: opacity .5s ease 1s, transform .5s ease 1s;
		opacity: 0;
		transform: translate3d(0, 45px, 1px);
	}

	&[data-animation-complete] {
		opacity: 1;
		transform: translate3d(0, 0, 1px);
	}
}

.project .block-text__text {
	max-height: 100px;
	overflow: hidden;
}

.project .open {
	margin-left: 90px;

	@media screen and (max-width: 767px) {
		margin-left: 0;
	}
}

.hero
{
	/*overflow:hidden;*/
	width: 100%;
	height: 100vh;
	position: relative;
	opacity: 1;
	min-height: 750px;

	&:before {
		content: "";
		display: table;
	}

	&__heading
	{
		width: 890px;
	}
}

.slider
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 1;

	&__item {
		position: absolute;
		width: 100%;
		height: 200%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
		z-index: 0;

		&_active {
			z-index: 1;
			-webkit-transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
			transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
			opacity: 1;
		}

	}
}

.slide {
	z-index: 2;
}

.header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding-top: 40px;



    &__container {
    	width: 40px;
	    height: 40px;
    	position: fixed;
	    top: 48px;
	    left: 56px;
    	transition: width 0.5s ease 2s, opacity 0.5s ease 2s, border-color .3s ease 0s;
    	z-index: 100;
    	overflow: hidden;

		&[data-s-animation="menu"]
	    {
	    	opacity: 0;
	    	width: 0px;
	    	&:before
	   		{
	   			transition: opacity 0.6s ease 2.5s, transform 0.6s ease 2.5s, filter .3s ease 0s;
	   			opacity: 0;
	   			transform:scale(0);
	   		}
	    }

	    &[data-s-animation="menu"][data-animation-complete]
	    {
	    	opacity: 1;
	    	width: 40px;
	    	&:before
	   		{
	   			opacity: 1;
	   			transform:scale(1);
	   		}
	    }
    }

    &__menu
    {
		border: 1px solid #979797;
	    box-sizing: border-box;
	    
	    cursor: pointer;
	    width: 40px;
	    height: 40px;
	    transition: opacity .3s ease;
	    

	    &:hover {
	    	opacity: .5;
	    }


	    &:before
	    {
	    	content:"";
	    	display: block;
	    	width: 16px;
	    	height: 16px;
	    	position: absolute;
		    top: 12px;
		    left: 12px;
		    background: url(../img/shapes.svg) no-repeat;
		    background-position: 0 0;
		    background-size: 100% 100%;
	    }

	    

		&_white {
			border-color:#fff;
			&:before
			{
				filter: invert(100%) contrast(300%);
			}
		}

    }

    &__lang
    {
	 	font-family: 'Cera PRO';
	    font-size: 12px;
	    color: #666666;
	    letter-spacing: 0;
	    font-weight: 500;
	    font-style: normal;
	    position: absolute;
	    right: 56px;
	    top: 61px;

	    &[data-s-animation="lang"]
	    {
	    	opacity: 0;
	    	transition: all 0.6s ease 2s;
	    	transform:translateX(40px);
	    }

	    &[data-s-animation="lang"][data-animation-complete]
	    {
	    	opacity: 1;
	    	transform:translateX(0px);
	    }

    }

    &__logo {
    	display: inline-block;
    	vertical-align: top;

    	img {
    		width: 174px;
    	}
    }

}

.home
{
	background: url(../img/line_2400px.png), linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 100%);
	background-size: 75% auto, auto;
	background-position: center bottom 260px, center;
	background-repeat: no-repeat;

	&__timeline
	{
		padding-bottom: 310px;
	}

	.timeline {
		position: relative;
	}

	.footer {
		border-top: 1px solid #ccc;
	}
}

.slide
{
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 0;

	&__content
	{
		display: inline-block;
		vertical-align: top;
		width: 100%;
		box-sizing:border-box;
		padding-top: 192px;
	}
	
	&__heading
	{
		&_display
		{
			max-width: 900px;
			padding-bottom: 0;
			transition: all 1s ease 1s;

			&[data-s-animation="outblur"]
			{
				opacity: 0;
				/*filter:blur(50px);*/
				transform:translateX(-100px);
			}
			&[data-s-animation="outblur"][data-animation-complete]
			{
				opacity: 1;
				/*filter:blur(0px);*/
				transform:translateX(0px);
			}
		}
	}
	&__text
	{
		&_p2
		{
			max-width: 736px;
			//padding-bottom: 70px;
			margin-bottom: 50px;
			transition: all 1s ease 1.3s;

			&[data-s-animation="outblur"]
			{
				opacity: 0;
				/*filter:blur(50px);*/
				transform:translateX(-100px);
			}
			&[data-s-animation="outblur"][data-animation-complete]
			{
				opacity: 1;
				/*filter:blur(0px);*/
				transform:translateX(0px);
			}
		}
	}

	&__button
	{
		overflow: hidden;
		transition: all 1s ease 1.8s, background .3s ease 0s, color .3s ease 0s, border-color .3s ease 0s;

		&[data-s-animation="button"]
		{
			width: 0px;
			opacity: 0;
			/*transform:translateX(150px);*/
		}
		&[data-s-animation="button"][data-animation-complete]
		{
			width: 250px;
			opacity: 1;
			/*transform:translateX(0px);*/
		}
	}

	&:before
	{
		content:"";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
}

.navigate
{
	position: absolute;
    bottom: 46px;
    left: 0px;
    font-size: 0;
    width: 100%;
    z-index: 3;

    &__wrap
    {
		transition: all 2s ease 1.6s;
		overflow: hidden;
		position: relative;

		&:before
		{
			content:"";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			top:1px;
			left:0;	
			background-color: rgba(151, 151, 151, 0.3);
		}

	    &[data-s-animation="width"]
		{
			width: 0;
			opacity: 0;
		}
	    &[data-s-animation="width"][data-animation-complete]
		{
			width: 100%;
			opacity: 1;
		}
    }
	
	&__item
	{
		width: 25%;
		display: inline-block;
		text-align: center;
		font-family: 'Cera PRO';
		font-size: 11px;
		color: #666666;
		letter-spacing: 0;
		font-weight: normal;
		font-style: normal;
		box-sizing:border-box;
		padding-top: 18px;
		cursor: pointer;
		position: relative;
		background: transparent;
		border: none;
		outline: none;

		&:before {
			content: "";
			display: block;
			height: 2px;
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			background:#DEFCFF;
			//opacity: 0;
			//transition: opacity .3s ease;
			transition: transform .8s ease;
			transform: scaleX(0);
			//transform-origin: 100% 0;
		}

		&_old_left:before {
			transform-origin: 0 0 !important;
		}

		&_new_right:before {
			transform-origin: 100% 0 !important;
		}

		&_old_right:before {
			transform-origin: 100% 0 !important;
		}

		&_new_left:before {
			transform-origin: 0 0 !important;
		}

		&_active
		{
			&:before
			{
				//opacity: 1;
				transform: scaleX(1);
				//transform-origin: 0 0;
				transition: transform .8s ease .8s;
			}
		}

		&[data-s-animation="slide-down-1"]
		{
			transform:translateY(-60px);
			opacity: 0;
			transition: all 1s ease 1.8s;
		}
		&[data-s-animation="slide-down-1"][data-animation-complete]
		{
			transform:translateY(0px);
			opacity: 1;
			transition: all 1s ease 2.1s;
		}
		&[data-s-animation="slide-down-2"]
		{
			transform:translateY(-50px);
			opacity: 0;
			transition: all 1s ease 2.4s;
		}
		&[data-s-animation="slide-down-2"][data-animation-complete]
		{
			transform:translateY(0px);
			opacity: 1;
		}
		&[data-s-animation="slide-down-3"]
		{
			transform:translateY(-40px);
			opacity: 0;
			transition: all 1s ease 2.7s;
		}
		&[data-s-animation="slide-down-3"][data-animation-complete]
		{
			transform:translateY(0px);
			opacity: 1;
		}
		&[data-s-animation="slide-down-4"]
		{
			transform:translateY(-30px);
			opacity: 0;
			transition: all 1s ease 3s;
		}
		&[data-s-animation="slide-down-4"][data-animation-complete]
		{
			transform:translateY(0px);
			opacity: 1;
		}
	}
}

.image
{
	&__covers
	{
		width: 100%;
		height: 100%;
		background: url(../img/cover-lines.png) no-repeat;
		background-position: 0 0;
	}
}

.about
{
	position: relative;
	box-sizing: border-box;
	padding-top: 145px;
	//min-height: 1112px;
	min-height: 950px;
	//background: url(../img/bg-about.jpg) no-repeat;
	//background-size: cover;
	//background-position: center center;

	
	&__letter
	{
		display: block;
		width: 371px;
		height: 330px;
		position: absolute;
		bottom: -165px;
		right: calc(50% - -280px);
	}


	&__wrap
	{
		position: relative;
	}
	&__heading
	{	
		&_h5
		{
			padding-left: 107px;
			padding-bottom: 29px;
			transition: all 1s ease 0s;

			&[data-animation="slide-bottom"]
			{
				opacity: 0;
				transform:translateY(-50px);
			}
			&[data-animation="slide-bottom"][data-animation-complete]
			{
				opacity: 1;
				transform:translateX(0px);
			}

		}		
		&_h1
		{
			max-width: 800px;
			padding-bottom: 41px;
			transition: all 1s ease .4s;
			margin-left: -4px;

			&[data-animation="outblur"]
			{
				opacity: 0;
				/*filter:blur(50px);*/
				transform:translateX(-100px) translateZ(0px);

				&:before
				{
					transition: all 1s ease .8s;
					width:0;
					opacity:0;
					transform:translateX(85px);
				}
			}
			&[data-animation="outblur"][data-animation-complete]
			{
				opacity: 1;
				/*filter:blur(0px);*/
				transform:translateX(0px) translateZ(0px);
				&:before
				{
					width: 66px;
					opacity:1;
					transform:translateX(0px);
				}
			}
		}
	}
	&__text
	{
		&_p2
		{
			width: 328px;	
    		padding-bottom: 58px;
			transition: all 1s ease 0.4s;
			
			&[data-animation="outblur"]
			{
				opacity: 0;
				/*filter:blur(50px);*/
				transform:translateX(-100px);
			}
			&[data-animation="outblur"][data-animation-complete]
			{
				opacity: 1;
				/*filter:blur(0px);*/
				transform:translateX(0px);
			}
		}
	}
	&__info
	{
    	padding-left: 108px;
	}
	
	&__button
	{
		transition: all 1s ease .35s, background .3s ease 0s, color .3s ease 0s, border-color .3s ease 0s;

		&[data-animation="button"]
		{
			width: 0px;
			opacity: 0;
			/*transform:translateX(150px);*/
		}
		&[data-animation="button"][data-animation-complete]
		{
			width: 250px;
			opacity: 1;
			/*transform:translateX(0px);*/
		}
	}

	&__covers
	{
		transition: all 2s ease .6s;

		&[data-animation="lines"]
		{
			opacity: 0;
			transform:translateX(60px) translateY(60px);
		}
		&[data-animation="lines"][data-animation-complete]
		{
			opacity: 1;
			transform:translateX(0px) translateY(0px);
		}		
	}

	&__image
	{
		position: absolute;
		//top:180px;
		top: 100px;
		right: 13px;
		width: 521px;
		height: 682px;
	}

	&__photo
	{
		width: 521px;
		height: 681px;
		position: relative;
		top:12px;
		left:12px;
		overflow: hidden;
		transition: filter 1s ease 1.1s, opacity 2s ease .6s, transform 1s ease .6s;

		&[data-animation="lines"]
		{
			opacity: 0;
			transform:translateX(30px) translateY(30px);
			filter: grayscale(100%); 
		}
		&[data-animation="lines"][data-animation-complete]
		{
			opacity: 1;
			transform:translateX(0px) translateY(0px);
			filter: grayscale(0%); 
		}
	}

}
.directions
{
	width: 100%;
	height: 675px;
	background: #4D4D4D;
	font-size: 0;
	position: relative;
	overflow: hidden;

	&__decoration {
		background-color: #DEFCFF;
		//width: 2px;
		width: 1px;
		height: 112px;
		position: absolute;
		left: 50%;
		z-index: 1;
		top: 0;
	}

	&__item
	{
		width: 33.33%;
		height: 100%;
		display: inline-block;
		overflow: hidden;
		position: relative;

		&_big
		{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			transition: all 0.6s ease;
			opacity: 0;
		}
		&:hover
		{
			.directions__card
			{
				transform:translateY(0px);
			}
			.directions__button
			{
				opacity: 1;
				transform:translateY(0px);
			}
		}
	}

	&_2
	{
		.directions__item
		{
			width: 50%;

			&_big {
				width: 100%;
			}
		}
	}

	&__photo
	{
		width: 100%;
		height: 100%;
	}

	&__list
	{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}

	&__heading
	{
		&_h2
		{
			color: #fff;
			padding-bottom: 16px;
		}
	}

	&__text
	{
		&_p1
		{
			width: 250px;
			padding-bottom: 51px;
		}
	}

	&__card
	{
		width: 33.33%;
		height: auto;
		box-sizing:border-box;
		padding-left: 60px;
		position: absolute;
		bottom: 83px;
		transform:translateY(90px);
		transition: all 1s ease;
	}
	&__button
	{
		color: #fff;
		border-color: #fff;
		opacity: 0;
		transition: all 0.8s ease, background .3s ease 0s, color .3s ease 0s, border-color .3s ease 0s;
		transform:translateY(90px);

		&:hover
		{
			border-color:#fff !important;
			background:#fff !important;
			color: #111 !important;
		}
	}

	&__lines
	{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}

.line
{
	//width: 2px;
	width: 1px;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
	&:nth-child(1)
	{
		position:absolute;
		left:50%;
		top:0;
	}
	&:nth-child(2)
	{
		position:absolute;
		right:33.33%;
		top:0;
	}
}

.awwards
{
	box-sizing:border-box;
	padding-top: 100px;
	min-height: 726px;
	position: relative;
	
	&__letter
	{
		display: block;
		width: 394px;
		height: 383px;
		position: absolute;
		top: 73px;
		left: calc(50% - -109px);
	}

	&__wrap
	{
		position: relative;
	}

	&__covers
	{
		background: none !important;
		transition: all 2s ease 0s;

		&[data-animation="lines"]
		{
			opacity: 0;
			transform:translateX(-60px) translateY(-60px);
		}
		&[data-animation="lines"][data-animation-complete]
		{
			opacity: 1;
			transform:translateX(0px) translateY(0px);
		}

		.image__bg {
			position: absolute;
			width: 100%;
			height: 372px;
			top: 0;
			left: 0;
			background: url(../img/cover-lines.png) no-repeat 0 0;
		}	
	}
	&__slider {

		width: 532px;
		position: absolute;
		top:16px;
		left:0px;


	}
	&__image
	{
		width: 516px;
		//height: 372px;
		//position: absolute;
		//top:16px;
		//left:16px;
		padding-left: 16px;
		padding-top: 16px;
		box-sizing: border-box;
		outline: none;

		&_for_mobile {
			display: none;
		}
	}
	&__photo
	{
		width: 100%;
		//height: 100%;
		height: 372px;
		//position: absolute;
		position: relative;
		bottom:16px;
		right:16px;

		transition: filter 1s ease .7s, opacity 2s ease .4s, transform 1s ease .4s;

		&[data-animation="lines"]
		{
			opacity: 0;
			transform:translateX(-30px) translateY(-30px);
			filter: grayscale(100%); 
		}
		&[data-animation="lines"][data-animation-complete]
		{
			opacity: 1;
			transform:translateX(0px) translateY(0px);
			filter: grayscale(0%); 
		}
	}
	&__content
	{
		width: 100%;
		box-sizing:border-box;
		padding-left: 650px;
		padding-top: 58px;
		text-align: left;
	}
	&__info
	{
		text-align: left;
		padding-left: 5px;
	}
	&__heading
	{	
		&_h5
		{
			padding-left: 73px;
			padding-bottom: 29px;
			transition: all 1s ease .5s;

			&[data-animation="slide-bottom"]
			{
				opacity: 0;
				transform:translateY(-50px);
			}
			&[data-animation="slide-bottom"][data-animation-complete]
			{
				opacity: 1;
				transform:translateX(0px);
			}

		}		
		&_h1
		{
			padding-bottom: 41px;
			padding-left: 69px;
			transition: all 1s ease .7s;

			&[data-animation="outblur"]
			{
				opacity: 0;
				/*filter:blur(50px);*/
				transform:translateX(-100px);

				&:before
				{
					transition: all 1s ease 1s;
					width:0;
					opacity:0;
					transform:translateX(85px);
				}
			}
			&[data-animation="outblur"][data-animation-complete]
			{
				opacity: 1;
				/*filter:blur(0px);*/
				transform:translateX(0px);
				&:before
				{
					width: 66px;
					opacity:1;
					transform:translateX(0px);
				}
			}

			&:before
			{
			    left: -30px;
			}
		}
	}
	&__text
	{
		&_p2
		{
			padding-left: 69px;
			transition: all 1s ease .8s;
			
			&[data-animation="outblur"]
			{
				opacity: 0;
				/*filter:blur(50px);*/
				transform:translateX(-100px);
			}
			&[data-animation="outblur"][data-animation-complete]
			{
				opacity: 1;
				/*filter:blur(0px);*/
				transform:translateX(0px);
			}
		}
	}
	&__cup
	{
		padding-top: 5px;
	    position: relative;
	    right: 18px;

	    .awwards__info {
	    	text-transform: uppercase;
	    }
	}
	&__cup-photo
	{
		display: inline-block !important;
		vertical-align: middle;
		margin-right: 5px;
	}
	&__info
	{
		display: inline-block;
		vertical-align: middle;
		max-width: 465px;
		font-family: 'Cera PRO';
		font-size: 9px;
		//color: #979797;
		color: #000;
		letter-spacing: 1.5px;
		line-height: 18px;	
		font-weight:normal;	
		font-weight:normal;	
	}

	&_about
	{
		padding-bottom: 184px;
		position: relative;
		z-index: 100;

		.awwards
		{
			&__text
			{
				&_p2 {
    				padding-left: 0px;
    				padding-bottom: 40px;
				}
			}
			
			&__info
			{
				padding-left: 60px;
				width: 325px;
			}

			&__content
			{
				padding-left: 846px;
    			padding-top: 71px;	
			}

			&__heading
			{
				&_h1
				{
					padding-left: 60px;
				}
				&_h5
				{
				    padding-left: 60px;
				}
			}
		}

		&:before
		{
   			content: "";
		    display: block;
		    width: 920px;
		    height: 920px;
		    position: absolute;
		    top: -19px;
		    left: -64px;
		    background: url(../img/corner_awwards.png) no-repeat;
		    background-size: cover;
		    opacity: 0.4;
		}
		.about__button
		{
			position: relative;
		}
	}

	&_default
	{
		padding-top: 138px;
		min-height: 466px;
		position: relative;

		.awwards
		{
			&__content
			{
				padding-left: 200px;
			}
		}
	}
}

.timeline
{
	width: 100%;
	height: 451px;
	overflow: hidden;
	position: relative;
	position: absolute;
	
	&__btn {
		color: #000000;
		font-family: "Cera PRO";
		font-size: 10px;
		letter-spacing: 2px;
		line-height: 18px;
		position: absolute;
		left: 96px;
		top: 36px;
		padding: 5px 5px 5px 34px;
		text-transform: uppercase;
		cursor: pointer;
		z-index: 5;
		-webkit-transition: all 2s ease .5s;
		transition: all 2s ease .5s;
		text-decoration: none;
		transition: opacity .3s;

		&[data-animation="slideleft"] {
			opacity: 0;
			width: 0;
		}

		&[data-animation="slideleft"][data-animation-complete] {
			opacity: 1;
			width: auto;
			&:hover {
				opacity: .7;
			}
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 22px;
			height: 1px;
			background-color: #333333;
			z-index: 1;
		}

		&::after {
			content: '';
			position: absolute;
			left: 1px;
			top: 50%;
			width: 13px;
			height: 13px;
			border-left: 1px solid #333;
			border-bottom: 1px solid #333;
			transform: translateY(-50%) rotate(45deg);
			z-index: 2;
		}
	}
	&_for_mobile {
		display: none;
	}

	&__content
	{
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 451px;
		height: 1425px;
		position: relative;
		top:100%;
		//left: -12px;
		//max-height: 1000px;
		//left: calc( (100% - 1000px)/2 );

		@media screen and (min-width: 1426px) {
			left: calc( (100% - 1425px)/2 - -50px );
		}
	}

	&__awward
	{
	    transform: rotate(45deg);
	    transform-origin: 0 13px;
	    -webkit-backface-visibility: hidden;
	    width: 650px;
	    box-sizing: border-box;
	    cursor: pointer;

	    @for $i from 1 through 100 {
		    &:nth-child(#{$i}) {
		        transition: transform 1s ease #{0.8+$i/5}s, opacity 1s ease #{0.8+$i/5}s;
		    }
		}

		&[data-animation="part"]
		{
			transform: rotate(45deg) translateX(10%);
			opacity: 0;
		}
		&[data-animation="part"][data-animation-complete]
		{
			transform: rotate(45deg) translateX(0%);
			opacity: 1;
		}
		
		@media screen and (min-width: 1200px) {
			&:hover {
				
				&.awward__year_top {
					.awward__part:nth-of-type(2) {
						transform: translate3d(25px, 0, 1px);
					}
				}

				&.awward__year_bottom {
					.awward__part:nth-of-type(1) {
						transform: translate3d(-25px, 0, 1px);
					}
				}


			}
		}

	}
	&__segments
	{
		padding-left: 233px;
		padding-top: 195px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		position: absolute;
		top:0;
		left:0;
		white-space: nowrap;

		padding-left: 245px;

		@media screen and (min-width: 1426px) {
			padding-left: calc( (100% - 1425px)/2 - -295px );
		}


		&:before
		{
			transition: all 2s ease;
			content:"";
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			top: 204px;
			left:0px;
			background-color: #999999;
			background-image: linear-gradient(90deg, #F2F2F2 0%, #999999 99%);
		}

		&[data-animation="slideleft"]
		{
			&:before
			{
				opacity:0;
				width: 0%;
			}
		}
		&[data-animation="slideleft"][data-animation-complete]
		{
			&:before
			{
				opacity:1;
				width: 100%;
			}
		}

	}
	&__segment
	{
		width: 1px;
		height: 9px;
		border-left: 1px solid #7E7E7E;
		display: inline-block;
		margin-right: 50px;
		vertical-align: middle;
		position: relative;
		z-index: 100;
		transition: all 0.3s ease 1s;
		width: 27px;

		&_small
		{
			height: 5px;
		}

		@for $i from 1 through 100 {
		    &:nth-child(#{$i}) {
		        transition: all 1s ease #{$i/5}s;
		    }
		}

		&[data-animation="scale"]
		{
			transform:scale(1, 0);
			opacity: 0;
		}
		&[data-animation="scale"][data-animation-complete]
		{
			transform:scale(1, 1);
			opacity: 1;
		}
	}
}

.awward
{
	font-size: 0;
	margin-bottom: 10px;
	position: relative;
	left: 10px;
	margin-bottom: 35px;
	height: 27px;

	&__part
	{
		font-family: 'Cera PRO';
		font-size: 10px;
		width: 50%;
		min-width: 245px;
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		transition: transform .5s ease;

		&:first-child
		{
			text-align:right;
			padding-right: 17px;
		}
		&:last-child
		{
			text-align:left;
			padding-left: 24px;
		}
	}

	&__name
	{
		font-family: 'Cera PRO';
		font-size: 10px;
		color: #000000;
		letter-spacing: 0;
		display: block;
		font-weight: 500;
		font-weight: 400;
		text-decoration: none;
	}
	&__location
	{
		font-family: 'Cera PRO';
		font-size: 10px;
		color: #666666;
		letter-spacing: 0;
		display: block;		
	    margin-top: 2px;
	    font-weight: 300;
	}
	&__year
	{
		font-family: 'Cera PRO';
		font-size: 10px;
		font-weight: bold;
		font-style: normal;
	}
}



/*------------------------------*/
.project
{
	background: linear-gradient(to bottom, #f1f1f1 0%,#e5e5e5 88%,#d5d5d5 100%);

	&__hero
	{
		width: 100%;
		height: 100vh;
		box-sizing:border-box;
		padding-top: 237px;
		background-color: #333 !important;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .6);
		}

		.header
		{
			&__menu
			{
				/*border-color:#fff;
				&:before
				{
					filter: invert(100%) contrast(300%);
				}*/
			}
			&__logo
			{
			    filter: invert(100%) contrast(300%);
			}
			&__lang
			{
				color: #fff;
			}
		}
	}

	&__label
	{
		margin: auto auto;
	    // width: 193px;
	    color: #FFFFFF;
	    font-family: "Cera PRO";
	    font-weight: 100;
	    font-size: 14px;
	    line-height: 27px;
	    text-align: center;
	    padding-top: 15px;
	    position: relative;
	    z-index: 2;


	    &[data-s-animation] {
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translate3d(0, 45px, 1px);
			transition: all 1s ease 0.9s;
		}

		&[data-s-animation][data-animation-complete] {
			opacity: 1;
			filter:blur(0);
			transform:translate3d(0, 0px, 1px);
		}
	}

	.team {
		position: relative;
		z-index: 2;

		&[data-s-animation] {
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translate3d(0, 45px, 1px);
			transition: all 1s ease 1.2s;
		}

		&[data-s-animation][data-animation-complete] {
			opacity: 1;
			filter:blur(0);
			transform:translate3d(0, 0px, 1px);
		}
	}

	.hero__heading {
		position: relative;
		z-index: 2;


		&[data-s-animation] {
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translate3d(0, 45px, 1px);
			transition: all 1s ease 0.6s;
		}

		&[data-s-animation][data-animation-complete] {
			opacity: 1;
			filter:blur(0);
			transform:translate3d(0, 0px, 1px);
		}
	}

	.short-info {
		z-index: 2;

		&[data-s-animation] {

			.short-info__item {
				opacity: 0;
				transform:translate3d(-45px, 0, 1px);
				transition: all 1s ease 1.2s;

				@for $i from 1 through 4 {
				    &:nth-child(#{$i}) {
				        transition: all 1s ease 1.1s + $i*0.3s;
				    }
				}
			}
		}

		&[data-s-animation][data-animation-complete] {
			.short-info__item {
				opacity: 1;
				transform:translate3d(0, 0, 1px);
			}
		}
	}

	.block-text__text {
		    transition: opacity 1s ease 0.35s, transform 1s ease 0.35s, filter 1s ease 0.35s;
	}

	.block-photo {
		transition: 1s ease 0.25s;
	}

	.heading_h1 {
		&[data-animation] {
			opacity: 0;
			/*filter:blur(50px);*/
			transition: all 1s ease 0.5s;
		}

		&[data-animation][data-animation-complete] {
			opacity: 1;
			filter:blur(0);
		}
	}
}

.hero
{
	&__heading
	{
		//height: 150px;	
		width: 700px;	
		color: #FFFFFF;	
		font-family: "Cera PRO";	
		font-size: 65px;	
		font-weight: bold;	
		line-height: 75px;	
		text-align: center;
		margin: auto auto;
		display: block
	}
}

.team
{
	padding-top: 40px;
	margin-bottom: 188px;

	&__label
	{
		color: #979797;	
		font-family: "Cera PRO";	
		font-size: 10px;	
		letter-spacing: 1px;	
		line-height: 18px;	
		text-align: center;
		text-transform: uppercase;
	}

	&__list
	{
		max-width: 500px;
		margin: auto;
		color: #FFFFFF;
		font-family: "Cera PRO";
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;	
		text-align: center;
	}
}

.short-info
{
	width: 868px;
	height: auto;
	margin: auto;
	padding-top: 0px;
	box-sizing:border-box;
	font-size: 0;
	position: absolute;
	bottom: 58px;
	left: 50%;
    transform: translateX(-50%);

	&__item
	{
		display: inline-block;
		width: 25%;
		text-align: center;
		vertical-align: top;
	}

	&__icon
	{
		width: 26px;
		height: 26px;
		display: inline-block;
		margin-bottom: 16px;

		img {
			max-width: 100%;
			max-height: 100%;
			opacity: .75;
		}
	}
	&__label
	{
		color: #979797;	
		font-family: "Cera PRO";
		//font-weight: 100;
		font-weight: normal;
		font-size: 10px;	
		letter-spacing: 1px;	
		line-height: 18px;	
		text-align: center;
		text-transform: uppercase;
	}
	&__value
	{
		color: #FFFFFF;	
		font-family: "Cera PRO";
		font-weight: 100;			
		font-size: 16px;	
		font-weight: 300;	
		line-height: 24px;	
		text-align: center;
	}
}

.block-text
{
    box-sizing: border-box;
    //padding-top: 110px;
    padding-bottom: 135px;
    padding-top: 0px;

    &__heading
    {
    	&_h1
    	{
    		max-width: 800px;
    		padding-left: 85px;

    		&:before
    		{
    			width:65px;
    		}
    	}
    	&_h5
    	{
    		margin-bottom: 24px;
    	    margin-left: 90px;
    	    text-transform: uppercase;
    	}
    }

    &__text
    {
    	transition: all 1s ease .6s;

    	&_p2
    	{
		    padding-left: 90px;
		    padding-top: 41px;
  			max-width: 732px;		
    	}

    	&[data-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);
		}
		&[data-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
		}
    }

}

.block-photo
{
	width: 100%;
	height: 624px;
	margin-bottom: 16px;
	
	&__wrap
	{
		height: 100%;
	}

	&__photo
	{
		background-color: #333 !important;
		width: 100%;
		height: 100%;
	}

	&[data-animation] {
		opacity: 0;
		transform: translate3d(0, 45px, 1px);
		transition: 1s ease .5s;
	}

	&[data-animation][data-animation-complete] {
		opacity: 1;
		transform: translate3d(0, 0, 1px);
	}
}

.block-photo-text
{
    font-size: 0;
    height: 774px;
    padding-bottom: 40px;
    padding-top: 37px;
    box-sizing: border-box;

	&__wrap
	{
		height: 100%;
		&:before
		{
			content:"";
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}
	}	

	&__row
	{
		width: 50%;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
    &__heading
    {
    	&_h1
    	{
    		max-width: 800px;
    		padding-left: 85px;

    		&:before
    		{
    			width:65px;
    		}
    	}
    	&_h5
    	{
		    margin-top: 144px;
		    margin-bottom: 30px;
		    margin-left: 90px;
		    text-transform: uppercase;
    	}
    }

    &__text
    {
    	transition: all 1s ease 0.6s;

    	&_p2
    	{
		    padding-left: 90px;
		    padding-top: 41px;
  			max-width: 302px;		
    	}

    	&[data-s-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);
		}
		&[data-s-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
		}
    }

    &__photo
    {
    	background-color: #333;
    	width: 100%;
		height: 697px;
    }

    &__info {
    	transition: 1s ease 1.5s;

    	&[data-s-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);
		}
		&[data-s-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
		}
    }
}


.project-navigate
{
	font-size: 0;
    height: 345px;
    margin-top: 104px;
    background-color: #333 !important;
	
	&__item
	{
	    display: inline-block;
	    width: 50%;
	    height: 100%;
	    box-sizing: border-box;
	    padding-top: 175px;
	    padding-left: 56px;
	    vertical-align: top;
	    color: #fff;
	    text-decoration: none;
	    background: #333;
	    position: relative;
	    overflow: hidden;

		@media screen and (min-width: 1200px) {

			&:hover {
				.project-navigate__bg {

					transform: scale(1.1);
					transform-origin: 50% 50%;

					&:before {
						opacity: 1;
					}

				}
			}

		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform .5s ease;
		transform: scale(1);

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .6);
			opacity: 0;
			transition: opacity .5s ease;
		}
	}

	&__heading
	{
		&_h2
		{
			text-transform: uppercase;
			color: #fff;
			padding-bottom: 25px;
			max-width: 370px;
		}
	}

	&__content {
		position: relative;
	}
}


/*ALL PROJECT*/
.all-projects
{
	//background: #e0e0e0;
	background: url(../img/line.png), linear-gradient(to bottom, #f1f1f1 0%,#e5e5e5 88%,#d5d5d5 100%);
	background-repeat: no-repeat;
	background-position: 210% -240px, 0 0;
	background-size: 1000px auto, auto;
	min-height: 100vh;

	&__hero
	{
		height: 229px;
		min-height: 0;
	}

	&__wrap
	{
		width: 850px;
	}
}

.projects-list
{
	&__wrap
	{
		max-width: 1065px;
	}

	&__tabs
	{
		font-family: "Cera PRO";
	    font-size: 12px;
	    padding-top: 26px;
	    color: #666666;
	    text-transform: uppercase;
	    margin-bottom: 98px;
	}

	.tabs__tab {

		.projects-grid__card {
			opacity: 0;
			transform: translate3d(0, 50px, 1px);

			$len: 100;


		}

		&_active {

			.projects-grid__card {
				opacity: 1;
				transform: translate3d(0, 0, 1px);
				transition: all .5s ease 0s;

				$len: 100;

				@for $i from 0 to $len {
				  &:nth-child(#{$i}) {
				    transition: all .5s ease 0s + $i*0.15s;
				  }
				}
			}

		}
	}

	.heading {


		transition: all 1s ease 0.5s;

		&[data-s-animation="outblur"],
		&[data-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);
		}
		&[data-s-animation="outblur"][data-animation-complete],
		&[data-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);

		}
	}
}

.tabs
{
	&__item
	{
		margin-right: 103px;
		text-decoration: none;
		color: #666666;
		display: inline-block;
		position: relative;

		&_active
		{
			&:before
			{
				content:"";
				display: block;
				width: 100%;
				height: 1px;
				background:#666666;
				position: absolute;
				bottom: -4px;
				left:0px;
			}
		}
	}

	&__head {
		&[data-s-animation],
		&[data-animation] {

			.tabs__item {
				opacity: 0;
				transform: translate3d(0, 45px, 1px);

				$len: 20;
				@for $i from 1 to $len {
				  &:nth-child(#{$i}) {

				  	transition: all 1s ease 0.4s + $i*0.2s;
				    
				  }
				}
			}
		}

		&[data-s-animation-complete],
		&[data-animation-complete] {

			.tabs__item {
				opacity: 1;
				transform: translate3d(0, 0, 1px);
			}
		}
	}
}

.projects-grid
{
	width: 100%;
	height: auto;
	margin-bottom: 58px;
	overflow: hidden;

	&__image
	{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		transition:all .6s ease;
		transform:scale(1);
	}

	&__card
	{
		display: block;
		cursor: pointer;
		overflow: hidden;
		transition: opacity .6s ease;
		background-color: #333 !important;

		@media screen and (min-width: 1200px) {
			
		}
		
		&_big
		{
			height: 480px;	
			width: 694px;
			background-color:#4D4D4D;
		}
		&_small
		{
			height: 236px;	
			width: 362px;	
			background-color:#4D4D4D;
		}

		&:hover {

			.projects-grid__image {
				transform:scale(1.05);
			}

			.projects-grid__hover {
				opacity: 1;
			}
		}
	}

	&__hover
	{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
    	opacity: 0;
		color: #fff;
		transition: all 0.6s ease;

		& *
		{
			color: #fff !important;
		}
	}

	&__name
	{
		position: absolute;
		bottom: 40px;
		left: 32px;
	}
}


.projects-navigate
{
	width: 100%;
	font-size: 0;
	padding-bottom: 100px;

	&__item
	{
		width: 50%;
		display: inline-block;
		vertical-align: top;

	}

	&__link
	{
		font-family: "Cera PRO";
		text-decoration: none;
		color: #333333;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		cursor: pointer;
		transition: opacity .3s ease;

		@media screen and (min-width: 1200px) {
			&:hover {
				opacity: .7;
			}
		}

		&_previous
		{
			text-align: left;
			display: block;
			margin: 0 auto;
			padding-left: 118px;
			position: relative;

			&:before
			{
				content:"";
				display: block;
				width: 85px;
				height: 1px;
				background: #979797;	
				position: absolute;
				top:32px;
				left:0;
			}
		}

		&_next
		{
			text-align: right;
			display: block;
			margin: auto 0;
			box-sizing: border-box;
		    padding-right: 118px;
			position: relative;

			&:before
			{
				content:"";
				display: block;
				width: 85px;
				height: 1px;
				background: #979797;	
				position: absolute;
				top:32px;
				right:0;
			}
		}
	}

	&__label
	{
		color: #979797;	
		font-size: 9px;	
		letter-spacing: 1px;	
		line-height: 18px;	
	    padding-bottom: 2px;
		text-transform: uppercase;
	}
}

.about-page
{
	//background: rgb(245, 245, 245);
	background: url(../img/line_2400px.png), linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 100%);
	background-repeat: no-repeat;
	background-position:right -338px bottom 40px, 0 0;
	background-size: 1000px auto, auto, auto;
	position: relative;

	// background: url(../img/line_2400px.png), url(../img/circle_2_lights_large.png), linear-gradient(to bottom, #f1f1f1 0%,#e5e5e5 88%,#d5d5d5 100%);
	// background-repeat: no-repeat;
	// background-position: right -338px bottom 240px, -1170px 535px, 0 0;
	// background-size: 1000px auto, auto, auto;

	.awward {
		height: 27px;
		margin-bottom: 29px;
	}

	.timeline__segment {
		width: 0;
	}

	&__hero
	{
		height: 136px;
		min-height: 0;
	}

	&__blocks
	{

	}

	&__row
	{
		vertical-align: top;
	    padding-top: 88px;
	}

	&__founder
	{
		padding-left: 90px;
		padding-top: 25px;
		transition: 1s ease 1.3s;

    	&[data-s-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);
		}
		&[data-s-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
		}
	}
	&__covers
	{
		transition: all 2s ease 0.7s;

		&[data-animation="lines"]
		{
			opacity: 0;
			transform:translateX(60px) translateY(60px);
		}
		&[data-animation="lines"][data-animation-complete]
		{
			opacity: 1;
			transform:translateX(0px) translateY(0px);
		}		
	}

	&__image
	{
		position: absolute;
		top:180px;
		right: 13px;
		width: 521px;
		height: 665px;
	}

	&__photo
	{
		width: 521px;
		height: 665px;
		position: relative;
		top:12px;
		left:12px;
		overflow: hidden;
		transition: filter 1s ease 1s, opacity 2s ease 0.7s, transform 1s ease 0.7s;

		&[data-animation="lines"]
		{
			opacity: 0;
			transform:translateX(30px) translateY(30px);
			filter: grayscale(100%); 
		}
		&[data-animation="lines"][data-animation-complete]
		{
			opacity: 1;
			transform:translateX(0px) translateY(0px);
			filter: grayscale(0%); 
		}

		&_for_tablet {
			display: none;
		}
	}

	&__block-photo-text
	{
		padding-bottom: 0;
		height: 730px;
	}

	.heading_h1 {
		transition: all 0.7s ease .2s;

		&[data-s-animation="outblur"],
		&[data-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);

			&:before
			{
				transition: all 0.7s ease .6s;
				width:0;
				opacity:0;
				transform:translateX(85px);
			}
		}
		&[data-s-animation="outblur"][data-animation-complete],
		&[data-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
			&:before
			{
				width: 66px;
				opacity:1;
				transform:translateX(0px);
			}
		}
	}

	&:before {
		position: absolute;
		top: 535px;
		left: -1170px;
		width: 2500px;
		height: 1750px;
		content: '';
		background: url(../img/circle_2_lights_large.png);
		background-repeat: no-repeat;
		opacity: 0.2;
		// background-position: -1170px 535px;
		// background-size: 1000px auto, auto, auto;
	}
}

.achievements
{
	width: 100%;
	height: 460px;
	font-size: 0;
	box-sizing:border-box;
	padding-top: 136px;

	&__wrap
	{
		max-width: 1064px;
		height: 100%;

		&:before
		{
			content:"";
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}
	}

	&__item
	{
		width: 250px;
		height: 100px;
		display: inline-block;
		vertical-align: top;
		margin-right: 21px;
		text-align: center;
		
		&:last-child
		{
			margin-right:0;
		}
	}

	&__icon
	{
		width: 60px;
		height: 60px;
		// background: red;
		display: inline-block;
		margin-bottom: 36px;
		opacity: 0.7;
	}

	&__count
	{
		font-family: "Cera PRO";
	    font-size: 32px;
	    font-weight: bold;
	    display: inline-block;
	    vertical-align: middle;
	    padding-right: 10px;
	}

	&__text
	{
		display: inline-block;
		vertical-align: middle;
		color: #333333;
	}

	&[data-animation] {
		.achievements__item {
			opacity: 0;
			transform: translate3d(0, 25px, 1px);
			transition: all 1s ease;

			$len: 5;
			@for $i from 0 to $len {
			  &:nth-child(#{$i}) {

			  	transition: all 1s ease $i*0.2s;
			    
			  }
			}
		}
	}

	&[data-animation][data-animation-complete] {
		.achievements__item {
			opacity: 1;
			transform: translate3d(0, 0, 1px);
		}
	}
}

.team-box
{
	&__block-text
	{
	    padding-top: 1px;
	    padding-bottom: 65px;
	    margin: auto 0;
	    width: 423px;
	    display: inline-block;
	    text-align: left;
	}

	&__blocks
	{
		text-align: right;
	}

	&__text
	{
		width: 340px;
		padding-left: 84px;
	}
}

.team-faces
{
	padding-bottom: 240px;
	
	&__wrap
	{
		max-width: 1068px;	
		font-size: 0;	
	}

	&__face
	{
		width: 33.33%;
		height: auto;
		background-color: #000;
		display: inline-block;
		position: relative;
		overflow: hidden;

		&:before
		{
			content:"";
			display: block;
			padding-bottom: 100%;
		}

		&:hover
		{
			.team-faces__hover
			{
				opacity: 1;
			}
			.team-faces__image
			{
				transform:scale(1.05);	
			}			
		}
	}

	&__image
	{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		transition: all 0.6s ease;
		transform:scale(1);	
	}

	&__hover
	{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
    	opacity: 0;
		color: #fff;
		transition: all 0.6s ease;
		& *
		{
			color: #fff !important;
		}
	}

	&__name
	{
		position: absolute;
		bottom: 40px;
		left: 32px;
	}

	&[data-animation] {
		.team-faces__face {

			opacity: 0;

			$len: 15;
			@for $i from 0 to $len {
			  &:nth-child(#{$i}) {

			  	transition: all 1s ease 1s + $i*0.2s;
			    
			  }
			}

		}
	}

	&[data-animation][data-animation-complete] {
		.team-faces__face {

			opacity: 1;

		}
	}
}

.reference-list
{
	&__block-text
	{
	    padding-top: 1px;
	    margin: auto 0;
	    width: 423px;
	    display: inline-block;
	    text-align: left;
	    padding-bottom: 74px;
	}

	&__blocks
	{
		text-align: left;
	}

	&__text
	{
		width: 340px;
		padding-left: 84px;
	}
}

.reference-block
{
	width: 100%;
	min-height: 100vh;
	height: auto;
	font-size: 0;
	overflow-x: hidden;

	background: url(../img/line_2400px.png) no-repeat right -340px center;
	background-size: 1000px auto;


	&__row
	{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		position: relative;

		&_sidebar {
			height: 689px;
			height: 100vh;
		}
	}

	&__image
	{
		position: absolute;
		right: 123px;
		top:0px;
		height: 100vh;	
		width: 780px;
		background: #666;
	}

	
	&[data-animation] {
		.reference-block__image {

			opacity: 0;
			transition: all 1s ease 0.5s;

		}

		.year-item {
			opacity: 0;
			transform: translate3d(45px, 0, 1px);

			$len: 50;
			@for $i from 0 to $len {
			  &:nth-child(#{$i}) {

			  	transition: all 1s ease 1s + $i*0.2s;
			    
			  }
			}
		}
	}

	&[data-animation][data-animation-complete] {
		.reference-block__image {

			opacity: 1;

		}

		.year-item {
			opacity: 1;
			transform: translate3d(0, 0, 1px);
		}
	}


}

.year-item
{
    padding-top: 24px;
    padding-left: 13px;
    max-width: 520px;

	&__number
	{
		color: #666666;	
		font-family: "Cera PRO";	
		font-size: 32px;	
		font-weight: 300;	
		line-height: 32px;
		padding-bottom: 8px;
		border-bottom: 1px solid #B3B3B3;
	}

	&__items
	{
		padding-top: 18px;
	}

	&__year-link
	{
		color: #666666;	
		font-family: "Cera PRO";	
		font-size: 12px;	
		font-weight: 500;
		display: block;
	    margin-bottom: 18px;
	    text-decoration: none;
	}
}

.what-we-do
{
	&__wrap
	{
		max-width: 1068px;	
		font-size: 0;	
	}

	&__block-text
	{
		box-sizing: border-box;
	    padding-top: 0px;
	    padding-bottom: 80px;
	}

	&__heading
	{
	    padding-left: 92px;
	    transition: all 1s ease 1s;

		&[data-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);

			&:before
			{
				transition: all 1s ease 0.5s;
				width:0;
				opacity:0;
				transform:translateX(85px);
			}
		}

		&[data-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
			&:before
			{
				width: 66px;
				opacity:1;
				transform:translateX(0px);
			}
		}
	}
}

.directions-list
{
	width: 100%;
	font-size: 0;
	position: relative;

	&__wrap
	{
		max-width: 1068px;	
		font-size: 0;	
	}

	&__directions-one
	{
		width: 50%;
		max-width: 490px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-right: 84px;
	    margin-bottom: 75px;

		&:nth-child(2n)
		{
			margin-right: 0px;
		}
	}

	&[data-animation] {

		.directions-one {
			opacity: 0;
			transform: translate3d(0, 45px, 1px);

			$len: 5;
			@for $i from 0 to $len {
			  &:nth-child(#{$i}) {

			  	transition: all 1s ease 1s + $i*0.2s;
			    
			  }
			}
		}

	}

	&[data-animation][data-animation-complete] {

		.directions-one {
			opacity: 1;
			transform: translate3d(0, 0, 1px);
		}

	}
}

.directions-one
{

	&__name
	{
		color: #000000;
	    font-family: "Cera PRO";
	    font-size: 26px;
	    font-weight: 300;
	    line-height: 32px;
	    position: relative;
	    padding-bottom: 8px;
	    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
	}

	&__number
	{
		color: #333333;	
		font-family: "Cera PRO";	
		font-size: 16px;	
		font-weight: 300;	
		line-height: 24px;
		position: absolute;
		right: 0;
		top:0;
	}

	&__content
	{
	    color: #666666;
	    font-family: "Cera PRO";
	    font-size: 14px;
	    line-height: 27px;
	    padding-top: 17px;
	    max-width: 300px;
	}
}

.awards
{
	padding-bottom: 90px;

	&__wrap
	{
		max-width: 1068px;	
		font-size: 0;	
	}

	&__block-text
	{
		box-sizing: border-box;
		padding-top: 120px;
    	padding-bottom: 41px;
	}

	&__heading
	{
	    padding-left: 92px;

		&[data-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);

			&:before
			{
				transition: all 1s ease 0.5s;
				width:0;
				opacity:0;
				transform:translateX(85px);
			}
		}
		&[data-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
			&:before
			{
				width: 66px;
				opacity:1;
				transform:translateX(0px);
			}
		}
	}

	.tabs__body {
		height: 451px;
	}

	.tabs__head
	{
		color: #666666;	
		font-family: "Cera PRO";	
		font-size: 12px;	
		font-weight: 500;	
		line-height: 14px;
	}
	&__item
	{
		margin-right: 85px;
	}
	&__timeline
	{
	    //margin-top: 83px;
	}
}

.home
{
	.awards
	{
		padding-bottom: 300px;
	}
}

.clients
{
	padding-bottom: 120px;
	&__block-text
	{
		padding-bottom: 114px;
	}

	.heading_h1 {
		&[data-animation="outblur"]
		{
			opacity: 0;
			/*filter:blur(50px);*/
			transform:translateX(-100px);

			&:before
			{
				transition: all 1s ease 0.7s;
				width:0;
				opacity:0;
				transform:translateX(85px);
			}
		}
		&[data-animation="outblur"][data-animation-complete]
		{
			opacity: 1;
			/*filter:blur(0px);*/
			transform:translateX(0px);
			&:before
			{
				width: 66px;
				opacity:1;
				transform:translateX(0px);
			}
		}
	}
}

.logos-list
{
	width: 100%;
	font-size: 0;

	&__one
	{
		// width: 156px;
		// margin-right: 24px;
		height: 76px;
		width: calc(100% / 6);
    box-sizing: border-box;
    padding: 0 25px;
		display: inline-block;
		transition: filter .3s ease;
		filter: grayscale(100%);

		&-bg {
			display: block;
			width: 100%;
			height: 100%;
			opacity: .8;
		}

		@media screen and (min-width: 1200px) {
			&:hover {
				filter: grayscale(0%);
			}
		}

		&:last-child
		{
			margin-right:0;
		}
	}

	&[data-animation] {
		.logos-list__one {
			opacity: 0;
			transform: translate3d(0, 45px, 1px);

			$len: 50;
			@for $i from 0 to $len {
			  &:nth-child(#{$i}) {
			  	transition: opacity 1s ease 0.4s + $i*0.2s, transform 1s ease 0.4s + $i*0.2s;
			  }
			}
		}
	}

	&[data-animation][data-animation-complete] {
		.logos-list__one {
			opacity: 1;
			transform: translate3d(0, 0, 1px);
			transition: filter .3s;
		}
	}
}

.contacts
{

	

	padding-bottom: 100px;
	&__wrap
	{
		max-width: 1068px;	
		font-size: 0;	
	}

	&__block-text
	{
		padding-top: 31px;
		padding-bottom: 125px;
	}

	&__heading
	{
		&_h1
		{
			max-width: 340px;

		}
		&_h5
		{
			margin-bottom: 29px;
		}
	}

	&__items
	{
		width: 100%;
		font-size: 0;

		&[data-s-animation],
		&[data-animation] {

			.contacts__row {
				opacity: 0;
				transform: translate3d(-45px, 0, 1px);

				$len: 4;
				@for $i from 1 to $len {
				  &:nth-child(#{$i}) {
				  	transition: all 1s ease 0.3s + $i*0.2s;
				  }
				}
				
			}
		}

		&[data-s-animation][data-animation-complete],
		&[data-animation][data-animation-complete] {

			.contacts__row {
				opacity: 1;
				transform: translate3d(0, 0, 1px);
			}

		}


	}

	&__row
	{
		width: 338px;
		display: inline-block;
		text-align: center;
		margin-right: 24px;
		vertical-align: top;

		&:last-child
		{
			margin-right:0;
		}
	}

	&__icon
	{
		width: 38px;
		height: 38px;
		display: inline-block;
		margin-bottom: 17px;

		.icon__svg {
			width: 28px;
			height: 28px;
			opacity: .7;
		}
	}

	&__text
	{
		color: #666666;	
		font-family: "Cera PRO";	
		font-size: 12px;	
		font-weight: 500;	
		letter-spacing: 1px;	
		line-height: 14px;	
		text-align: center;		
		width: 282px;
		margin: auto;
		box-sizing:border-box;
	    margin-bottom: 16px;
		text-transform: uppercase;

		a {
			color: inherit;
			text-decoration: none;
			transition: opacity .3s ease;

			&:hover {
				opacity: .7;
			}
		}
	}

	&__input
	{
		position: relative;
		width: 300px;
		margin: auto auto;

		&:after
		{
			content:"";
			display: none;
			position: absolute;
			right: 12px;
			top: 15px;
			width: 16px;
			height: 16px;
			background: red;
		}

		button {
			display: block;
			position: absolute;
			right: 12px;
			top: 15px;
			width: 16px;
			height: 16px;
			padding: 0;
			opacity: .2;
			transition: opacity .3s ease;

			&:hover {
				opacity: .5;
			}

			img {
				max-width: 16px;
				max-height: 16px;
			}
		}

		.input
		{
			width: 300px;
			padding-top: 11px;
			padding-bottom: 11px;
			color: #666;	
			font-family: "Cera PRO";	
			font-size: 12px;	
			font-weight: 300;	
			line-height: 14px;
			outline: none;
			background: transparent;
			border: none;
			margin-top: 6px;
			box-sizing:border-box;
			padding-left: 9px;
			border-bottom: 1px solid #808080;
			text-transform: uppercase;
			transition: all .3s ease;

			&.input_has_error {
				color: #d85b5b;
				border-color: #d85b5b;
			}
		}
	}

	.heading {
		&_h1 {
			&[data-s-animation="outblur"],
			&[data-animation="outblur"]
			{
				opacity: 0;
				/*filter:blur(50px);*/
				transform:translateX(-100px);
				transition: 1s ease 0.4s;

				&:before {
					transition: all 1s ease 1s;
				    width: 0;
				    opacity: 0;
				    transform: translateX(85px);
				}
			}
			&[data-s-animation="outblur"][data-animation-complete],
			&[data-animation="outblur"][data-animation-complete]
			{
				opacity: 1;
				/*filter:blur(0px);*/
				transform:translateX(0px);

				&:before {
					width: 66px;
				    opacity: 1;
				    transform: translateX(0px);
				}
			}
		}

		&_h5 {
			transition: all 1s ease 0s;

			&[data-s-animation="slide-bottom"],
			&[data-animation="slide-bottom"]
			{
				opacity: 0;
				transform:translateY(-50px);
			}
			&[data-s-animation="slide-bottom"][data-animation-complete],
			&[data-animation="slide-bottom"][data-animation-complete]
			{
				opacity: 1;
				transform:translateX(0px);
			}
		}
	}
}

.contacts-page
{
	background: linear-gradient(to bottom, #f1f1f1 0%,#e5e5e5 88%,#d5d5d5 100%);

	&__hero
	{
		height: 212px;
		min-height: 0;
	}

	&__contacts
	{
	    padding-bottom: 212px;
	}
}


.footer
{
	width: 100%;
	//height: 48px;
	overflow: hidden;
	font-size: 0;
	box-sizing:border-box;
	//padding-top: 17px;
	padding: 34px 0;

	&__wrap
	{
		max-width: 1068px;	
		font-size: 0;	

		&:before
		{
			content:"";
			display: block;
			width: 0;
			height: 100%;
			vertical-align: middle;
		}
	}

	&__item
	{
		width: 50%;
		display: inline-block;
		vertical-align: middle;
		color: #666666;	
		font-family: "Cera PRO";	
		font-size: 9px;	
		letter-spacing: 1.5px;
		line-height: 18px;
		text-transform: uppercase;
		
		&_left
		{
			text-align: left;
		}

		&_right
		{
			text-align: right;
			a
			{
				color: #666666;
				text-decoration: none;
				&:hover
				{
					text-decoration:underline;
				}
			}
		}
	}
}

.panel-menu {
	width: calc(100vw - 64px);
	height: calc(100vh - 48px);
	//background: url(../img/bg-menu.png) #efefef no-repeat right center;
	//background-size: auto auto;
	position: fixed;
	top: 24px;
	left: 32px;
	opacity: 0;
	transform: translateX(100%);
	transition: opacity .4s ease-out 0s, transform 0s linear .4s;
	z-index: 101;
	font-size: 0;

	background: url(../img/line_2400px.png), linear-gradient(to bottom, #f1f1f1 0%,#e5e5e5 88%,#d5d5d5 100%);
	background-size: 1000px auto, auto;
	background-position: right -100px center, center;
	background-repeat: no-repeat;

	&_active {
		opacity: 1;
		transform: translateX(0);
		transition: opacity .4s ease-out 0s, transform 0s linear 0s;
	}

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	&__content {
		font-size: 0;
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	&__excerpt {
		text-align: center;
		font: 14px/1.95 "Cera PRO", Arial, Helvetica, sans-serif;
		color: #666;
		max-width: 330px;
		margin-left: 13px;
		width: 100%;
	}

	&__social {
		max-width: 330px;
		margin-left: 13px;
		width: 100%;
		color: #666;
		text-align: center;
		margin-top: 90px;
		margin-bottom: 22px;
	}

	&__part {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;

		&_left {
			width: calc(100% - 580px);
		}

		&_right {
			width: 580px;
		}
	}

	&__close {
		position: absolute;
		top: 24px;
		left: 24px;
		-webkit-appearance: none;
		box-sizing: border-box;
		padding: 0;
		background: none;
		outline: none;
		border: 1px solid #979797;
		width: 40px;
		height: 40px;
		border-radius: 0;
		font-size: 0;
		transition: opacity .3s ease;

		&:before,
		&:after {
			content: "";
			width: 20px;
			height: 1px;
			background: #666;
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all .5s ease;
			-webkit-backface-visibility: hidden;
			top: 19px;
		}

		&:before {
			transform: rotate(-45deg) translate3d(-50%, -50%, 1px);
			transform-origin: 0 0;
		}

		&:after {
			transform: rotate(45deg) translate3d(-50%, -50%, 1px);
			transform-origin: 0 0;
		}

		&:hover {
			opacity: .6;

			/*&:before {
				transform: rotate(0deg) translate3d(-50%, -50%, 1px);
				transform-origin: 0 0;
			}

			&:after {
				transform: rotate(0deg) translate3d(-50%, -50%, 1px);
				transform-origin: 0 0;
			}*/
		}
	}
}

.nav {
	margin-left: 246px;

	&__item {
		font: bold 65px/1.61 "Cera PRO", Arial, Helvetica, sans-serif;
		color: #4D4D4D;
		display: block;
		text-decoration: none;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 67px;
			height: 1px;
			background: #979797;
			position: absolute;
			top: 48px;
			left: -90px;
			opacity: 1;
			transition: transform .5s ease;
			transform: scaleX(0);
			transform-origin: 100% 0;
		}

		&:hover {
			&:before {
				transform: scaleX(1);
			}
		}

		&_active {
			&:before {
				transform: scaleX(1);
			}
		}
	}
}

[data-animation="letter"]
{
	svg
	{
		stroke-dasharray: 3000;
    	stroke-dashoffset: -3000;
    	transition: all 4s ease;
	}
}

[data-animation="letter"][data-animation-complete]
{
	svg
	{
    	stroke-dashoffset: 0;
	}	
}

[data-mainslide-text]
{
	font-size:0;
	animation: text-type 1s;

	&:after
	{
		content:"";
		display:inline-block;
		//height:64px;
		height: 60px;
		width: 1px;	
		background-color: #7A7A7A;
		position: relative;
		top:4px;
		animation: blink-animation step-end 1s infinite;
	}

	span
	{
		font-size: 74px;
		line-height: 62px;
		display: none;

		@media screen and (max-width: 767px) {
			font-size: 40px;
			line-height: 45px;
		}
	}
}

@keyframes blink-animation {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: #7A7A7A;
  }
}

.lang {
	text-transform: uppercase;
	padding: 0 10px;
	box-sizing: border-box;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: visible;
	cursor: pointer;

	&__head {

	}

	&__body {
		opacity: 0;
		transition: opacity .3s ease, transform 0s linear .3s;
		transform: translateY(-200px);

		@media screen and (max-width: 1200px) {
			transform: none;
			display: none;
			opacity: 1;
		}
	}

	&__ul {
		list-style: none;
	}

	&__li {
		display: block;
		padding-top: 12px;
	}

	&__link {
		color: inherit;
		text-decoration: none;
		transition: opacity .3s ease;
		opacity: .6;

		&:hover {
			opacity: 1;
		}
	}

	&:hover {



		@media screen and (min-width: 1201px) {
			.lang__body {
				opacity: 1;
				transform: translateY(0);
				transition: opacity .3s ease 0s, transform 0s linear 0s;
			}
		}
	}
}

.success {
	display: none;

	&__icon {
		border: 0;
		width: 24px;
		opacity: 0.5;
		margin-bottom: 8px;
	}

	&__text {
		color: rgba(102, 102, 102, 0.72);
		font-family: "Cera PRO";
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 0.8px;
		line-height: 14px;
		text-align: center; 
		width: 162px;
		margin: auto;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 16px;
	}
}

[data-parallax-about-image]
{
	position: relative;
	top:200px;
}


.about-page
{
	[data-parallax-about-image]
	{
		top:60px;
	}
}

.clients__wrap {
	max-width: 1084px;
}
































































