

button {
	border-radius: 0;
	background: none;
	-webkit-appearance: none;
	outline: none;
	border: none;
}


body {
	-webkit-font-smoothing: antialiased;
}


.social {
	font-size: 0;

	&__item {
		color: #666;
		font-size: 10px;
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		margin: 0 19px;
		transition: opacity .3s ease;

		&:hover {
			opacity: .6;
		}
	}
}

.modal {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease 0s, transform 0s linear .5s;
    z-index: 101;

    &__outer {
    	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    font-size: 0;
	    text-align: center;
	    overflow-y: auto;
	    //padding: 50px 0;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    background: rgba(0,0,0,0.1);

	    &:before {
	    	content: "";
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
	    }
    }

    &__overlay {
    	position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    -webkit-transform: translateX(100%);
	    transform: translateX(100%);
    }

    &__inner {
    	display: inline-block;
	    vertical-align: middle;
	    text-align: left;
	    position: relative;
	    //max-width: calc(100% - 90px);
    }

    &__content {
    	max-width: 100%;
    	text-align: center;
    	filter: blur(4px);
    	transition: filter .5s ease;
    }

    &_active {
	    transform: translateX(0);
	    opacity: 1;
	    transition: opacity .5s ease 0s, transform 0s linear 0s;

	    .modal__overlay {
	    	transform: translateX(0);
	    }

	    .modal__content {
	    	filter: blur(0);
	    }
    }
}




.tabs {

	&__btn {
		background: none;
		border: none;
		outline: none;
		transition: opacity .3s ease;

		@media screen and (min-width: 1200px) {
			&:hover {
				opacity: .7;
			}
		}
	}

	&__item {
		margin-right: 103px;
		text-decoration: none;
		color: #666666;
		display: inline-block;
		position: relative;
		transition: opacity .3s ease;

		@media screen and (min-width: 1200px) {
			&:hover {
				opacity: .7;
			}
		}

		&_active
		{
			&:before
			{
				content:"";
				display: block;
				width: 100%;
				height: 1px;
				background:#666666;
				position: absolute;
				bottom: -4px;
				left:0px;
			}
		}
	}

	&__head {
		font-family: "Cera PRO";
	    font-size: 12px;
	    padding-top: 26px;
	    color: #666666;
	    text-transform: uppercase;
	    margin-bottom: 98px;
	}

	&__body {
		position: relative;
		overflow: hidden;
	}

	&__tab {
		position: absolute;
		transform: translateX(-100%);
		opacity: 0;
		width: 100%;
		top: 0;
		left: 0;

		&_active {
			position: static;
			transform: translateX(0);
			opacity: 1;
		}
	}
}





.heading
{
	&_display
	{
		font-family: 'Cera PRO';
		font-size: 74px;
		color: #4D4D4D;
		letter-spacing: 0;
		//line-height: 62px;
		line-height: 75px;
		font-weight: bold;
		font-style: normal;
		text-transform: uppercase;
	}

	&_h1
	{
		-webkit-font-smoothing:antialised;
		font-family: 'Cera PRO';
		font-size: 48px;
		color: #333333;
		letter-spacing: 0;
		line-height: 54px;
		font-weight: 300;
		font-style: normal;
	    box-sizing: border-box;
	    padding-left: 108px;
	    position: relative;

	    &:before
	    {
		    content: "";
		    display: block;
		    width: 85px;
		    height: 1px;
		    background: #979797;
		    position: absolute;
		    top: 28px;
		    left: 0;
	    }
	}

	&_h2
	{
		font-family: 'Cera PRO';
		font-size: 32px;
		color: #979797;
		letter-spacing: 0;
		line-height: 32px;
		font-weight: 300;
		font-style: normal;
	}

	&_h5 
	{
		-webkit-font-smoothing:antialised;
		font-family: 'Cera PRO';
		font-size: 9px;
		color: #333333;
		letter-spacing: 25px;
		font-weight: normal;
		font-style: normal;
	}

	&_black
	{
		color: #4D4D4D;
	}

	&_white
	{
		color: #fff;
	}
}

.text
{
	-webkit-font-smoothing: antialiased;
	&_p1
	{
		font-family: 'Cera PRO';
		font-size: 16px;
		color: #FFFFFF;
		letter-spacing: 0;
		line-height: 24px;	
		font-weight: 300;
		font-style: normal;	
	}

	&_p2
	{
		font-family: 'Cera PRO';
		font-size: 14px;
		color: #666666;
		letter-spacing: 0;
		line-height: 27px;
		font-weight: normal;
		font-style: normal;
	}

	&_sub
	{
		color: #666666;	
		font-family: "Cera PRO";	
		font-size: 11px;	
		line-height: 13px;
	}

	&_normal
	{
		color: #333333;	
		font-family: "Cera PRO";	
		font-size: 15px;	
		font-weight: 400;	
		line-height: 24px;
		letter-spacing: 0.6px;
	}

	&_upper
	{
		text-transform: uppercase;
	}
}

.button
{
	-webkit-font-smoothing:antialiased;
	width: 250px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	font-family: 'Cera PRO';
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	color: #666666;
	letter-spacing: 0;
	outline: none;
	text-transform: uppercase;
	background: transparent;
	border: 1px solid #666666;
	overflow: hidden;
	transition: all .3s ease;

	&__label
	{
		min-width: 100px;
	}
	
	@media screen and (min-width: 1200px) {
		&:hover {
			background: #000;
			color: #fff;
			border-color: #000;
		}
	}
}

.wrap
{
	width: 100%;
	max-width: 1062px;
	margin: auto;
}